<!-- app/views/welcome/welcome.html.erb -->
<div class="text-center mt-5">
  <h1>Welcome to your task manager!</h1>
  <%= link_to 'See you tasks', tasks_path, class: 'btn btn-primary mt-3' %>
  <%= link_to 'Register new task', new_task_path, class: 'btn btn-success mt-3' %>
</div>